body {
  padding: 50px;
  color: #262837;
  position: relative;
  min-height: 100vh;
}
body.lock {
  overflow: hidden;
}

.spinner_loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  background: #333333a8;
  z-index: 1000;
  color: #fff !important;
  display: none;
}

h1 {
  text-align: center;
  font-family: "Courgette", cursive;
}

.create_task_block {
  width: 100%;
  max-width: 694px;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.create_task_block div {
  padding-top: 30px;
  position: relative;
}

.err_empty_name {
  position: absolute;
  color: red;
  bottom: -20px;
  left: 10px;
  opacity: 0;
}
.list_body {
  padding-top: 30px;
  border-bottom: 3px solid #e6edf7;
  max-width: 700px;
  margin: auto;
}
.list_header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.todo_list {
  margin-bottom: 0;
  max-height: 10000px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  list-style: none;
  padding: 0;
}
.todo_list.close_task {
  transition: all 1s ease-in-out;
  max-height: 0;
}

.workout_list {
  margin-bottom: 0;
  max-height: 10000px;
  overflow: hidden;
  transition: all 1s;
  list-style: none;
  padding: 0;
}
.workout_list.close_task {
  transition: all 1s;
  max-height: 0;
}

 li {
  position: relative;
  border-top: 4px solid #d9d9d9;
  box-shadow: 2px 2px 2px #e6edf7;
  border-radius: 5px;
  padding: 0px 20px;
  margin-top: 20px;
}

 li div {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

 li span {
  padding-left: 10px;
  font-size: 14px;
  color: #878787;
}

 li h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  padding-left: 8px;
}

 li p {
  padding-left: 20px;
  font-size: 12px;
}

input[type="checkbox"] {
  accent-color: #489670;
}

input[type="checkbox"]:checked + h5 {
  color: #878787;
  text-decoration: line-through;
}

.done {
  border-top: 4px solid #58ac83 !important;
  display: none;
}
.show-done .done {
  display: block;
}

 li.overdue {
  border-top: 4px solid #ff0000;
}
li.overdue span {
  color: #ff0000;
}
.done span {
  color: #878787 !important;
}
.done svg path {
  stroke: #878787 !important;
}
li.overdue svg path {
  stroke: #ff0000;
}

.btn-outline-danger {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 6px 7px !important;
  line-height: 7px !important;
  border-radius: 30px !important;
}

.btn-group {
  width: 130px;
  height: 38px;
}
.btn-group label {
  transition: all 1s;
}

.close_arrow {
  position: absolute;
  right: 140px;
  bottom: 10px;
  transition: all 0.5s;
}
.close_todo_arrow.show {
  transition: all 0.5s;
  transform: rotate(180deg);
}
.close_workout_arrow.show {
  transition: all 0.5s;
  transform: rotate(180deg);
}

.arrow-bottom-3 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.arrow-bottom-3 path {
    fill: #262837;
    transition: fill 0.5s ease-out;
}
.arrow-bottom-3 {
    transform: rotate(90deg);
}
.arrow-bottom-3:hover path {
    fill: #0d6efd;
}

.empty_todo_list_text,
.empty_workout_list_text {
  text-align: center;
}


.alert-success {
  position: fixed !important;
  transition: all 1s;
  right: 15px;
  top: 15px;
  width: 191px;
  z-index: 1001;
}
.alert-danger {
  position: fixed !important;
  transition: all 1s;
  right: 15px;
  top: 15px;
  width: 191px;
  z-index: 1001;
}

